[tool.poetry]
name = "cloudflare-images"
description = "Wrapper around Cloudflare Images API, usable custom Django storage class."
version = "0.0.1"
authors = ["Marcelino G. Veloso III <mars@veloso.one>"]
readme = "README.md"
license = "MIT"
homepage = "https://mv3.dev"
repository = "https://github.com/justmars/cloudflare-images"
documentation = "https://mv3.dev/cloudflare-images"
classifiers = [
  "License :: OSI Approved :: BSD License",
  "Programming Language :: Python :: 3.11",
  "Typing :: Typed",
  "Development Status :: 4 - Beta",
  "Framework :: Pytest",
]

[tool.poetry.dependencies]
python = "^3.11"
python-dotenv = "^0.21"
httpx = "^0.24.0"
pydantic = "^1.10.7"
django = "^4.2"

[tool.poetry.group.dev.dependencies] # latest as of Jan. 2023
rich = "^13.3"
black = "^23.3.0"
pytest = "^7.2"
pytest-datadir = "^1.4.1"
pytest-cov = "^2.12.1"
pre-commit = "^2.21"
mkdocs = "^1.4.2"
mkdocstrings = { extras = ["python"], version = "^0.20.0" }
mkdocs-material = "^9.1"

[tool.pytest.ini_options]
minversion = "7.2"
addopts = "-ra -q --doctest-modules --cov"
filterwarnings = ["ignore::DeprecationWarning"]
testpaths = ["tests"]

[tool.ruff]
ignore = ["F401", "F403"]
fixable = ["F", "E", "W", "I001"]
select = ["F", "E", "W", "I001"]

[tool.black]
target-version = ['py311']
line-length = 79
include = '.pyi?$'
exclude = '''
/(
    .git
    | .hg
    | .mypy_cache
    | .tox
    | .venv
    | _build
    | buck-out
    | build
    | dist
)/
'''

[build-system]
requires = ["poetry-core>=1.3.2"]
build-backend = "poetry.core.masonry.api"
